<a href="https://colab.research.google.com/github/sellaakhilaa/Feature-enginering/blob/main/Copy_of_creating_derived_features_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

# Load Titanic dataset from seaborn
df = sns.load_dataset('titanic')

# Show first few rows
print(df.head())
# Derived Feature 1: Family Size
df['family_size'] = df['sibsp'] + df['parch'] + 1

# Derived Feature 2: Is Alone
df['is_alone'] = df['family_size'] == 1

# Derived Feature 3: Age Group
def age_group(age):
    if pd.isnull(age):
        return 'Unknown'
    elif age < 12:
        return 'Child'
    elif age < 18:
        return 'Teen'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'

df['age_group'] = df['age'].apply(age_group)

# Derived Feature 4: Title from Name
df['title'] = df['who'].map({'man': 'Mr', 'woman': 'Mrs', 'child': 'Master'})

# Derived Feature 5: Cabin Type (Deck letter)
df['cabin_type'] = df['deck'].astype(str).str[0]

# View final dataset with derived features
print(df[['sex', 'age', 'sibsp', 'parch', 'family_size', 'is_alone', 'age_group', 'title', 'deck', 'cabin_type']].head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
      sex   age  sibsp  parch  family_size  is_alone age_group title deck  \
0    male  22.0      1      0            2     False     Adult    Mr  NaN
1  female  38.0      1      0            2     False     Adult   Mrs    C
2  female  26.0      0      0            1      True     Adult   Mrs  NaN
3  female  35.0      1      0            2     False     Adult   Mrs    C
4    male  35.0      0      0            1      True     Adult    Mr  NaN

  cabin_type
0          n
1          C
2          n
3          C
4          n